<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kmbeast.mapper.InteractionMapper">

    <delete id="batchDelete">
        delete from interaction
        where id in
        <foreach collection="ids" item="id" open="("  separator="," close=")">
            id
        </foreach>
    </delete>
    <select id="query"  parameterType="cn.kmbeast.pojo.dto.query.extend.InteractionQueryDto" resultType="cn.kmbeast.pojo.entity.Interaction">
        select *
        from interaction
        <where>
            <if test="id!=null">
                and id = #{id}
            </if>
            <if test="userId != null">
                and  user_id = #{userId}
            </if>
            <if test="productId!=null">
                and product_id = #{productId}
            </if>
            <if test="type !=null">
                and type=#{type}
            </if>
            <if test="startTime!=null and endTime!=null">
                and createTime between #{startTime} and #{endTime}
            </if>
        </where>
        order  by id desc
        <if test="current != null and size != null">
            Limit #{current},#{size}
        </if>
    </select>
    <select id="queryCount" parameterType="cn.kmbeast.pojo.dto.query.extend.InteractionQueryDto" resultType="java.lang.Integer">
        select *
        from interaction
        <where>
            <if test="id!=null">
                and id = #{id}
            </if>
            <if test="userId != null">
                and  user_id = #{userId}
            </if>
            <if test="productId!=null">
                and product_id = #{productId}
            </if>
            <if test="type !=null">
                and type=#{type}
            </if>
            <if test="startTime!=null and endTime!=null">
                and createTime between #{startTime} and #{endTime}
            </if>
        </where>
    </select>
    <insert id="save">
        insert into interaction(user_id,product_id,type,create_time)
        values(#{userId},#{productId},#{type},#{createTime})
    </insert>
</mapper>