<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kmbeast.mapper.InteractionMapper">
    <update id="likeProduct">
        update interaction
        set type = 3
        where id = #{productId} and user_id = #{userId}
    </update>

    <delete id="batchDelete">
        delete from interaction
        where id in
        <foreach collection="ids" item="id" open="("  separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="query"  parameterType="cn.kmbeast.pojo.dto.query.extend.InteractionQueryDto" resultType="cn.kmbeast.pojo.vo.InteractionVO">
        SELECT i.*,
        u.user_name,
        u.user_account,
        p.name AS product_title
        FROM interaction i
        LEFT JOIN user u ON u.id = i.user_id
        LEFT JOIN product p ON p.id = i.product_id
        <where>
            <if test="id != null">
                AND i.id = #{id}
            </if>
            <if test="userId != null">
                AND i.user_id = #{userId}
            </if>
            <if test="productId != null">
                AND i.product_id = #{productId}
            </if>
            <if test="type != null">
                AND i.type = #{type}
            </if>
            <if test="startTime != null and endTime != null">
                AND i.create_time BETWEEN #{startTime} AND #{endTime}
            </if>
        </where>
        ORDER BY i.id DESC
        <if test="current != null and size != null">
            LIMIT #{current},#{size}
        </if>
    </select>
    <select id="queryCount" parameterType="cn.kmbeast.pojo.dto.query.extend.InteractionQueryDto" resultType="int">
        select count(*) as count
        from interaction
        <where>
            <if test="id!=null">
                and id = #{id}
            </if>
            <if test="userId != null">
                and  user_id = #{userId}
            </if>
            <if test="productId!=null">
                and product_id = #{productId}
            </if>
            <if test="type !=null">
                and type=#{type}
            </if>
            <if test="startTime!=null and endTime!=null">
                and createTime between #{startTime} and #{endTime}
            </if>
        </where>
    </select>
    <select id="queryByProductIds" resultType="cn.kmbeast.pojo.entity.Interaction">
        SELECT *
        FROM interaction i WHERE i.product_id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <insert id="save">
        insert into interaction(user_id,product_id,type,create_time)
        values(#{userId},#{productId},#{type},#{createTime})
    </insert>
</mapper>