<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kmbeast.mapper.OperationLogMapper">

    <insert id="save">
        INSERT INTO operation_log (user_id, detail, create_time)
        VALUES (#{userId}, #{detail}, #{createTime})
    </insert>

    <delete id="batchDelete" parameterType="list">
        DELETE FROM operation_log WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--分页查询信息-->
    <select id="query" resultMap="BaseResultMap">

        SELECT ol.*,
        u.user_name,
        u.user_account
        FROM operation_log ol
        LEFT JOIN user u ON u.id = ol.user_id
        <where>
            <if test="detail != null and detail != ''">
                AND ol.detail LIKE concat('%',#{detail},'%')
            </if>
            <if test="userId != null">
                AND ol.user_id = #{userId}
            </if>
            <if test="startTime != null and endTime != null">
                AND ol.create_time BETWEEN #{startTime} AND #{endTime}
            </if>
        </where>
        ORDER BY ol.id DESC
        <if test="current != null and size != null">
            LIMIT #{current},#{size}
        </if>
    </select>

    <!--满足分页条件的数据总项-->
    <select id="queryCount" resultType="integer">

        SELECT COUNT(*)
        FROM operation_log ol
        <where>
            <if test="detail != null and detail != ''">
                AND ol.detail LIKE concat('%',#{detail},'%')
            </if>
            <if test="userId != null">
                AND ol.user_id = #{userId}
            </if>
            <if test="startTime != null and endTime != null">
                AND ol.create_time BETWEEN #{startTime} AND #{endTime}
            </if>
        </where>

    </select>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.kmbeast.pojo.vo.OperationLogVO">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="user_account" property="userAccount"/>
        <result column="detail" property="detail"/>
        <result column="create_time" property="createTime"/>
    </resultMap>


</mapper>
